# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Ambientes virtuais
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Git
.git
.gitignore

# Logs
*.log
logs/

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Outros
.DS_Store
*.md

